
		body{
			margin:0;
			height:100vh;

			background:#111;
			color:white;

			font-family:Arial;

			display:flex;
			flex-direction:column;

			justify-content:center;
			align-items:center;

			text-align:center;
		}

		h1{
			margin-bottom:10px;
		}

		p{
			margin-bottom:20px;
		}

		a{
			text-decoration:none;

			background:hotpink;
			color:white;

			padding:12px 24px;

			border-radius:15px;

			transition:0.3s;
		}

		a:hover{
			transform:scale(1.05);
		}
